body {
	background-image: url("http://coolblackppt.com/wp-content/uploads/2014/01/The-hermit-design-free-seamless-tile-able-backgrounds.png");
}

h1 {
    color: white;
    margin-left: 14px;
    text-align: center;
    font-family: Verdana;
}

h2 {
	color: white;
	margin-left: 14px;
	text-align: center;
	font-family: Verdana; 
}

input {
	margin: 25px;
	width: 400px;
}

#Header {
	background-color: #D3D3D3;
	width: 100%;
	height: 35px;
	color: red;
    margin-left: 14px;
    text-align: center;
    font-family: Verdana;
    font-size: 24px;
    padding-bottom: 2px;
}

#nav {
    line-height:20px;
    background-color:#eeeeee;
    height:100px;
    width:100px;
    float:left;
    padding:5px;
    margin-left: 14px; 
}

#TextArea {
	border: 5px red;
	width: 500px;
	height: 450px;
	margin-left: 25%;
	margin-top: 35px;
	background-color: white;
	overflow: scroll;
}

#Chatheader {
	border: 20px red;
	width: 100%;
	height: 40px;
	margin-left: 14px;
	font-family: verdana;
	font-size: 24px;
	text-align: center;
	background-color: gray;
}	

#inputArea {
	margin-left: 25%;
	margin-top: 35px;
	width: 500px;
	padding-bottom: 25px;
}

#name {
	background-color: #ffffff;
	color: black;
	width: 500px;
	margin-left: 25%;
	margin-top: 35px;
}